*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    word-spacing: 0.2em;
}

header{
    position: sticky;
    top: 0;
    z-index: 20;
    background-color: #212121;
}

body{
    background-color: #212121;
}

.white{
    color: white;
}

.yellow{
    color: #ffc20f;
}

ul li{
    color: white;
}

hr{
    border: 1px solid #ffc20f;
}

p{
    color: white;
}

h2 a{
    color: #212121;
    margin: 2em;
    padding: 0.5em 1em;
    background-color: #ffc20f;
    text-decoration: none;
    border: 2px solid #ffc20f;
}

h2 a:hover{
    background-color: #212121;
    color: #ffc20f;
    border: 2px solid #ffc20f;
}