*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    word-spacing: 0.2em;
}

body{
    background-color: black;
}

.white{
    color: white;
}

.yellow{
    color: yellow;
}

ul li{
    color: white;
}

hr{
    border: 1px solid yellow;
}

p{
    color: white;
}

h2 a{
    color: black;
    margin: 2em;
    padding: 0.5em 1em;
    background-color: yellow;
    text-decoration: none;
}